.BannerParentDiv {
    margin: 0px 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bannerDetailsParent {
    margin-bottom: 120px;
}

.bannerTitle {
    font-size: 50px;
    margin-bottom: 12px;
}

.empoweringSpan {
    color: rgb(254, 163, 1)
}

.visionSpan {
    color: rgb(1, 172, 253);
}

.bannerDetails {
    color: rgb(17, 17, 17);
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 20px;

}

.exploreBtn {
    font-weight: 300;
    font-size: 17px;
    color: rgb(255, 255, 255);
    background-color: rgb(17, 17, 17);
    padding: 7px 15px;
    border: none;
    border-radius: 12px;
}

/* curriculam section */
.curriculamSection {
    text-align: center;
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 160px;
}

.componentsParent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.curriculamTitle {
    font-size: 46px;
    font-weight: 700;
}

.components {
    padding: 60px 30px;
    background-color: beige;
    border-radius: 10px;
    height: 300px;
    width: 280px;
}

/* components ids for bg design*/
#components1 {
    background: linear-gradient(180.00deg,
            rgb(222, 245, 255),
            rgba(255, 255, 255, 0) 40%),
        rgb(255, 255, 255);
    border: 1px solid rgb(222, 245, 255);
    border-radius: 18px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
}

#components2 {
    border: 1px solid rgb(255, 244, 220);
    border-radius: 18px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg,
            rgb(255, 244, 220),
            rgba(255, 255, 255, 0) 40%),
        rgb(255, 255, 255);
}

#components3 {
    border: 1px solid rgb(242, 232, 255);
    border-radius: 18px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg,
            rgb(238, 225, 255),
            rgba(255, 255, 255, 0) 40%),
        rgb(255, 255, 255);
}

/* ids use done here */

.components img {
    transform: scale(0.7);
}

.componentsTitle {
    font-size: 20px;
    font-weight: 700;
    margin-top: 0px;
}

.componentsP {
    font-size: 13px;
    font-weight: 500;
    color: rgb(128, 128, 128);
}

.componentsBtn {
    font-weight: 600;
    font-size: 12px;
    border: none;
    margin-top: 13px;

}

/* arrow btn */
.arrowBtnDiv {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.arrowIcon i {
    background-color: rgb(254, 163, 1);
    color: rgb(255, 255, 255);
    width: 25px;
    height: 25px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* our stories section */
.storySection {
    background-image: url(/assets/bg.png),
        linear-gradient(0.00deg,
            rgba(254, 163, 1, 0.3),
            rgba(255, 255, 255, 0.3) 100%);
    padding: 50px 160px;
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
}

.storyBoxContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.storySectionTitle {
    font-size: 40px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 50px;
}

/* first story box */
.firstStoySec {
    width: 540px;
    height: 616px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.firstStoySec img {
    max-width: 100%;
}

.firstStoyTitle,
.firstStoyPara {
    padding: 10px 30px;
}


/* second story about square */
.storySquare {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.squareBox {
    max-width: 290px;
    height: 301px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.sqaurePara {
    background-color: rgb(149, 178, 38);
    border-radius: 15px;
    padding: 5px 10px;
    position: absolute;
    left: 25%;
    bottom: 32%;
}

#sqaurePara2 {
    background-color: rgb(93, 88, 240);
}

.squareBox img {
    /* max-height: 100%; */
    max-width: 100%;
}

.sqaureHeader {
    padding: 10px 30px;
}

/* view all btn */
.viewAll {
    font-size: 14px;
    font-weight: 700;
    margin-top: 40px;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 9px 25px;
    border: none;
}

/* responsive for mobile */
@media screen and (max-width:576px) {
    .BannerParentDiv {
        display: flex;
        flex-direction: column-reverse;
        margin: 20px 50px -60px 50px;
    }

    .bannerPhotoHolder img {
        max-width: 100%;
    }

    .bannerTitle {
        font-size: 30px;
    }

    /* curriculam section */
    .curriculamSection {
        padding: 0px;
    }

    .curriculamTitleParent {
        text-align: center;
    }

    .curriculamTitle {
        font-size: 26px;
        font-weight: 500;
    }

    /* components */
    .componentsParent {
        display: flex;
        flex-direction: column;
    }

    /* story section */
    .storySection {
        padding: 0px;
        padding-top: 60px;
    }

    .storyBoxContainer {
        display: flex;
        flex-direction: column;
    }

    .firstStoySec {
        width: 290px;
        height: auto;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        overflow: hidden;
    }

    .firstStoySec img {
        max-width: 100%;
        max-height: 100%;
    }

    /* square box */
    /* .squareBox{
        width: 100%;
    } */
    .storySquare {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 10px;
    }

    /* view all btn */
    .viewAll {
        margin-bottom: 40px;
    }
}

/* for tablet */
@media screen and (min-width:577px) and (max-width:1176px) {

    .BannerParentDiv {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 25px;
    }

    .curriculamSection {
        padding: 0px;
    }

    .componentsParent {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    /* story */
    .storyBoxContainer {
        display: flex;
        flex-direction: column;
    }

    .storySection {
        padding: 0px 30px 0px 30px;
    }

    /* .squareBox */
    .squareBox img {
        max-width: 100%;
    }

    .viewAll {
        margin-bottom: 40px;
    }
}