/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* css for body*/
.body {
    margin: 0px 160px;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
}

/* Nav */
.navDesktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navTitleParent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.logoNav {
    height: 43px;
    width: 37px;
}

.navTitle {
    font-size: 28px;
    font-weight: 700;
}

.navOptionParent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.navOptions {
    font-size: 16px;
    font-weight: 600;
}

.cntctBtn {
    font-weight: 500;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: rgb(254, 163, 1);
    padding: 8px 34px;
    border-radius: 12px;
    border:none;
}
/* navOption ID's */
#navOption1{
    color:rgb(254, 163, 1);
}
#navOption2{
    color:rgb(1, 172, 253);
}
#navOption3{
    color:rgb(5, 212, 223);
}
#navOption4{
    color:rgb(93, 88, 239);
}

/* hide mobile mode in desktop*/
.navMobileMode{
    display: none;
}
/* end mobile mode section */



/* Responsive for mobile starts*/
@media screen and (max-width:576px) {
    .navMobileMode{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navDesktop{
        display: none;
    }
    .body {
        margin: 0px 40px;
    }
    .navMenu i{
      font-size: 27px;;
    }
    .logoNav{
        width: 50px;
        height: 45px;
    }

}

/* for tablet */
@media screen and (min-width:577px) and (max-width:1176px) {
    .navDesktop {
        display: flex;
        flex-direction: column;
    }
    .navTitleParent{
        margin-top: 40px;
        height: 50px;

    }
    .navOptionParent{
        margin-bottom: 15px;
    }
    .navMobileMode{
        display: none;
    }
    .body {
        margin: 0px 100px;
    }
   
}